<div>
  <h1 class="text-3xl font-bold text-zinc-900 dark:text-zinc-100 sm:text-4xl">
    <%= @book.title %>
  </h1>
  <p class="pb-4 text-zinc-800 dark:text-zinc-200 sm:text-lg xl:text-xl">
    <span>by <.people_links people={@book.authors} /></span>
  </p>

  <div class="text-sm text-zinc-600 dark:text-zinc-400 sm:text-base">
    <.series_book_links series_books={@book.series_books} />
  </div>
</div>
