<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Personal Audiobook Streaming", suffix: " · Ambry" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body class="text-gray-800">
    <header class="px-4 sm:px-10 py-2 flex items-center shadow-md">
      <section id="logo" class="min-w-max">
        <a href="/">
          <img class="h-10 sm:h-12" src={Routes.static_path(@conn, "/images/logo_optimized.svg")} />
        </a>
      </section>
      <section id="search" class="flex-grow mx-0 sm:mx-5 md:mx-10">
        <input type="text" placeholder="Search..." class="hidden sm:inline-block h-8 px-4 border border-gray-200 rounded-full shadow-inner" />
      </section>
      <section id="user" class="flex min-w-max items-center cursor-pointer">
        <img class="h-10 sm:h-12 mr-2 rounded-full shadow-md" src={gravatar_url("chris@xn--dos-dma.com")} />
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
        </svg>
      </section>
    </header>
    <main class="m-4 sm:m-10">
      <%= @inner_content %>
    </main>
  </body>
</html>
