<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Personal Audiobook Streaming", suffix: " · Ambry" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body class="text-gray-700">
    <%= if @current_user do %>
      <%= live_render(@conn, AmbryWeb.HeaderLive.Header, layout: false) %>
    <% end %>
    <main class="py-20 px-4 sm:px-10 max-w-screen-2xl 2xl:mx-auto">
      <%= @inner_content %>
    </main>
  </body>
</html>
