<header>
  <div class="p-4 text-zinc-600 dark:text-zinc-500">
    <.link navigate={~p"/users/log_in"} class="flex">
      <.ambry_icon class="mt-1 h-6 w-6 lg:h-7 lg:w-7" />
      <.ambry_title class="mt-1 hidden h-6 md:block lg:h-7" />
    </.link>
  </div>
</header>
<%= @inner_content %>
