<header>
  <div class="p-4 text-zinc-600 dark:text-zinc-500">
    <.link navigate={~p"/users/log_in"} class="flex">
      <.ambry_icon />
      <.ambry_title />
    </.link>
  </div>
</header>
{@inner_content}
