<.layout title={@page_title} user={@current_user} socket={@socket}>
  <:subheader>
    <.list_controls
      search_form={@search_form}
      new_path={~p"/admin/series/new"}
      has_next={@has_next}
      has_prev={@has_prev}
      next_page_path={@next_page_path}
      prev_page_path={@prev_page_path}
    />
    <.sort_button_bar>
      <.sort_button current_sort={@current_sort} sort_field="name">Name</.sort_button>
      <.sort_button current_sort={@current_sort} sort_field="authors">Authors</.sort_button>
      <.sort_button current_sort={@current_sort} sort_field="books"># Books</.sort_button>
      <.sort_button current_sort={@current_sort} sort_field="inserted_at">Added</.sort_button>
    </.sort_button_bar>
  </:subheader>

  <.flex_table rows={@series} filter={@list_opts.filter}>
    <:empty>
      No series yet.
      <.brand_link navigate={~p"/admin/series/new"}>
        Create one.
      </.brand_link>
    </:empty>

    <:row :let={series}>
      <.index_row navigate={~p"/admin/series/#{series}/edit"}>
        <:cover>
          <.multi_image paths={series.thumbnails} />
        </:cover>

        <:headline>
          <span data-role="series-name">{series.name}</span>
        </:headline>

        <p class="overflow-hidden text-ellipsis whitespace-nowrap text-sm text-zinc-300" data-role="series-authors">
          {series.authors |> Enum.map(& &1.name) |> Enum.join(", ")}
        </p>

        <:facts>
          <.row_fact
            icon="fa-book"
            count={series.books}
            title="# of books"
            data-role="series-book-count"
          />
        </:facts>

        <:action navigate={~p"/admin/series/#{series}/edit"} icon="fa-pencil" role="edit-series">
          Edit
        </:action>
        <:action
          icon="fa-trash"
          color={:red}
          click="delete"
          value={series.id}
          confirm="Delete this series? Its books stay in the library and lose their numbers in it."
          role="delete-series"
        >
          Delete
        </:action>

        <:footer>
          <span data-role="series-added">Added {Calendar.strftime(series.inserted_at, "%x")}</span>
        </:footer>
      </.index_row>
    </:row>
  </.flex_table>
</.layout>
