<.layout title={@page_title} user={@current_user} jobs={@admin_jobs}>
  <:subheader>
    <.list_controls
      search_form={@search_form}
      new_path={~p"/admin/sets/new"}
      has_next={@has_next}
      has_prev={@has_prev}
      next_page_path={@next_page_path}
      prev_page_path={@prev_page_path}
    />
    <.sort_button_bar>
      <.sort_button current_sort={@current_sort} sort_field="name">Name</.sort_button>
      <.sort_button current_sort={@current_sort} sort_field="inserted_at">Added</.sort_button>
    </.sort_button_bar>
  </:subheader>

  <.flex_table
    rows={@groups}
    filter={@list_opts.filter}
    row_click={fn group -> JS.navigate(~p"/admin/sets/#{group}/edit") end}
  >
    <:empty>
      No sets yet.
      <.brand_link navigate={~p"/admin/sets/new"}>
        Create one.
      </.brand_link>
    </:empty>

    <:row :let={group}>
      <div class="flex-shrink-0">
        <.multi_image paths={thumbnails(group)} />
      </div>
      <div class="min-w-0 flex-grow overflow-hidden text-ellipsis whitespace-nowrap">
        <p class="overflow-hidden text-ellipsis" data-role="group-name">{group.name}</p>
        <p class="overflow-hidden text-ellipsis text-sm text-zinc-400" data-role="group-book">
          {book_title(group)}
        </p>
      </div>
      <div class="hidden w-32 flex-none flex-col items-end gap-1 text-zinc-400 sm:flex">
        <span data-role="group-parts">{parts_summary(group)}</span>
      </div>
      <div class="flex w-32 flex-none flex-col items-end justify-between gap-2">
        <div class="flex gap-2">
          <.link navigate={~p"/admin/sets/#{group}/edit"} data-role="edit-group">
            <.icon
              name="fa-pencil"
              class="h-4 w-4 text-current transition-colors hover:text-lime-400"
            />
          </.link>
          <span
            phx-click="delete"
            phx-value-id={group.id}
            data-confirm={"Delete this set? Its #{length(group.media)} audiobooks stay in the library but leave the set, losing their part numbers."}
            data-role="delete-group"
          >
            <.icon name="fa-trash" class="h-4 w-4 cursor-pointer text-current transition-colors hover:text-red-600" />
          </span>
        </div>
        <p class="text-sm text-zinc-400" data-role="group-added">
          Added {Calendar.strftime(group.inserted_at, "%x")}
        </p>
      </div>
    </:row>
  </.flex_table>
</.layout>
