<div class="mx-auto max-w-md p-4 sm:max-w-none md:max-w-screen-2xl md:p-6 lg:p-8">
  <div class="justify-center sm:flex sm:flex-row">
    <section id="cover" class="mb-4 flex-none sm:mb-0 sm:w-80">
      <div class="mb-6 sm:hidden">
        <.book_header book={@media.book} title_override={media_display_title(@media)} />
        <p class="mt-4">
          Narrated by <.all_people_links people={@media.narrators} full_cast={@media.full_cast} />
          <%= if @media.abridged do %>
            <span>(Abridged)</span>
          <% end %>
        </p>
      </div>
      <div class={["aspect-1", if(!@media.thumbnails, do: "bg-zinc-800")]}>
        <img
          :if={@media.thumbnails}
          src={@media.thumbnails.extra_large}
          class="h-full w-full rounded-sm border border-zinc-900 object-cover object-center shadow-md sm:w-80"
        />
      </div>
      <p class="mt-1 text-sm text-zinc-500">
        First published {format_published(@media.book)}
      </p>
      <p :if={@media.published} class="text-xs text-zinc-500">
        This edition published {format_published(@media)}
      </p>
      <p :if={@media.publisher} class="text-xs text-zinc-500">by {@media.publisher}</p>
      <div class="mt-4 divide-zinc-800 rounded-lg bg-zinc-900 p-3 text-zinc-200 shadow-md">
        <.brand_link href={~p"/users/log_in"}>Sign in</.brand_link> to Ambry to listen to this audiobook!
      </div>
    </section>
    <section id="description" class="max-w-md sm:ml-10">
      <div class="hidden sm:block">
        <.book_header book={@media.book} title_override={media_display_title(@media)} />
        <p class="mt-4">
          Narrated by <.all_people_links people={@media.narrators} full_cast={@media.full_cast} />
          <%= if @media.abridged do %>
            <span>(Abridged)</span>
          <% end %>
        </p>
      </div>
      <.markdown
        :if={@media.description}
        content={@media.description}
        class="mt-4 pt-4 sm:border-t sm:border-zinc-900"
      />
    </section>
  </div>
</div>
