<.layout title={@page_title} user={@current_user}>
  <div class="-mb-4 max-w-4xl">
    <.simple_form id="user-form" for={@form} phx-change="validate" phx-submit="submit">
      <.field_group>
        <.input type="email" field={@form[:email]} label="Email address" class="max-w-md" required />
      </.field_group>

      <.form_footer>
        <.button>Send Invitation</.button>
      </.form_footer>
    </.simple_form>
  </div>
</.layout>
