<div class="mx-auto max-w-3xl space-y-4 p-6">
  <div class="text-2xl font-bold">Import Audiobook details from {@provider.display_name}</div>

  <.simple_form for={@search_form} phx-submit="search" phx-target={@myself}>
    <div class="flex items-end gap-2">
      <.input field={@search_form[:query]} label="Search" container_class="grow" />
      <.button>Search</.button>
      <.button name="refresh" value="true" title="Bypass cached results and re-fetch">
        Re-fetch
      </.button>
    </div>
  </.simple_form>

  <.async_result :let={books} assign={@books}>
    <:loading>
      <.loading>Searching books...</.loading>
    </:loading>

    <:failed :let={failure}>
      <.error>There was an error searching {@provider.display_name} for books: {failure}</.error>
    </:failed>

    <.simple_form id="select-book-form" for={@select_book_form} phx-change="select-book" phx-target={@myself}>
      <div class="space-y-2">
        <.label>Select book ({length(books)} results)</.label>
        <.rich_select id="book-select" field={@select_book_form[:book_id]} options={books}>
          <:option :let={book}>
            <.book_card book={book} />
          </:option>
        </.rich_select>
      </div>
    </.simple_form>

    <.simple_form
      :if={@selected_book}
      for={@form}
      phx-submit="import"
      phx-target={@myself}
      container_class="!space-y-0"
    >
      <.import_form_row :if={@selected_book.published} field={@form[:use_published]} label="Published">
        <div class="py-[7px] px-[11px] rounded-sm border border-transparent bg-zinc-800 text-zinc-300">
          {display_date(@selected_book.published)}
        </div>
      </.import_form_row>

      <.import_form_row :if={@selected_book.publisher} field={@form[:use_publisher]} label="Publisher">
        <div class="py-[7px] px-[11px] rounded-sm border border-transparent bg-zinc-800 text-zinc-300">
          {@selected_book.publisher}
        </div>
      </.import_form_row>

      <.import_form_row :if={@selected_book.description} field={@form[:use_description]} label="Description">
        <.markdown
          content={@selected_book.description}
          class="max-h-64 max-w-max overflow-y-auto rounded-sm bg-zinc-800 p-2"
        />
      </.import_form_row>

      <.import_form_row :if={@matching_narrators != []} field={@form[:use_narrators]} label="Narrators">
        <div :for={{imported_narrator, existing_narrator} <- @matching_narrators}>
          <%= if existing_narrator do %>
            <p class="flex items-center gap-2">
              <.icon name="fa-circle-check" class="text-brand-dark h-4 w-4 flex-none" />
              <span class="font-semibold">Existing narrator</span>
              {existing_narrator_label(existing_narrator, imported_narrator)}
            </p>
          <% else %>
            <p class="flex items-center gap-2">
              <.icon name="fa-triangle-exclamation" class="h-4 w-4 flex-none text-amber-500" />
              <span class="font-semibold">Missing narrator</span>
              {imported_narrator.name}
            </p>
          <% end %>
        </div>
        <p :if={Enum.any?(@matching_narrators, fn {_imported, existing} -> is_nil(existing) end)}>
          Any missing narrators will be imported with just their names. You can add additional details by visiting <.brand_link navigate={
            ~p"/admin/people"
          }>Authors & Narrators</.brand_link>.
        </p>
      </.import_form_row>

      <.import_form_row :if={@selected_book.cover_url} field={@form[:use_cover_image]} label="Image">
        <.image_with_size
          id={@form[:use_cover_image].id}
          src={proxied_remote_image_url(@selected_book.cover_url)}
          class="h-48 rounded-sm"
        />
      </.import_form_row>

      <:actions>
        <.button class="mt-2">Import</.button>
        <.button type="button" color={:zinc} phx-click={JS.exec("data-cancel", to: "#import-modal")}>
          Cancel
        </.button>
      </:actions>
    </.simple_form>
  </.async_result>
</div>
