<.layout title={@page_title} user={@current_user}>
  <div class="max-w-3xl">
    <.simple_form id="universe-form" for={@form} phx-change="validate" phx-submit="submit" autocomplete="off">
      <.field_group>
        <.input field={@form[:name]} label="Name" />
      </.field_group>

      <.field_group label="Books">
        <.inputs_for :let={book_universe_form} field={@form[:book_universes]}>
          <.sort_input field={@form[:book_universes_sort]} index={book_universe_form.index} />

          <div class="relative">
            <.input field={book_universe_form[:book_id]} type="autocomplete" options={@books} />
            <.delete_button
              field={@form[:book_universes_drop]}
              index={book_universe_form.index}
              class="absolute top-3 right-2"
            />
          </div>
        </.inputs_for>

        <.add_button field={@form[:book_universes_sort]}>Add book</.add_button>
        <.delete_input field={@form[:book_universes_drop]} />
      </.field_group>

      <:actions>
        <.button>Save</.button>
      </:actions>
    </.simple_form>
  </div>
</.layout>
