<.layout title={@page_title} user={@current_user} socket={@socket}>
  <:subheader>
    <.list_controls
      search_form={@search_form}
      new_path={~p"/admin/universes/new"}
    />
    <.sort_button_bar>
      <.sort_button current_sort={@current_sort} sort_field="name">Name</.sort_button>
      <.sort_button current_sort={@current_sort} sort_field="books"># Books</.sort_button>
      <.sort_button current_sort={@current_sort} sort_field="inserted_at">Added</.sort_button>
    </.sort_button_bar>
  </:subheader>

  <.flex_table list_state={@list_opts} rows={@universes} filter={@list_opts.filter}>
    <:empty>
      No universes yet.
      <.brand_link navigate={~p"/admin/universes/new"}>
        Create one.
      </.brand_link>
    </:empty>

    <:row :let={universe}>
      <.index_row navigate={~p"/admin/universes/#{universe}/edit"}>
        <:cover>
          <.multi_image paths={universe.thumbnails} />
        </:cover>

        <:headline>
          <span data-role="universe-name">{universe.name}</span>
        </:headline>

        <:facts>
          <.row_fact
            icon="fa-book"
            count={universe.books}
            title="# of books"
            data-role="universe-book-count"
          />
        </:facts>

        <:action navigate={~p"/admin/universes/#{universe}/edit"} icon="fa-pencil" role="edit-universe">
          Edit
        </:action>
        <:action
          icon="fa-trash"
          color={:red}
          click="delete"
          value={universe.id}
          confirm="Delete this universe? Its books stay in the library."
          role="delete-universe"
        >
          Delete
        </:action>

        <:footer>
          <span data-role="universe-added">Added {Calendar.strftime(universe.inserted_at, "%x")}</span>
        </:footer>
      </.index_row>
    </:row>
  </.flex_table>

  <.pagination_footer
    info={@page_info}
    has_next={@has_next}
    has_prev={@has_prev}
    next_page_path={@next_page_path}
    prev_page_path={@prev_page_path}
  />
</.layout>
