name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  MIX_ENV: test
  SHAKE_PACKAGER_VERSION: 3.4.2

jobs:
  compile:
    name: Compile
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up Elixir
        uses: erlef/setup-beam@v1.20
        with:
          version-file: .tool-versions
          version-type: strict
      - name: Install dependencies
        run: mix deps.get
      - name: Compile dependencies
        run: mix deps.compile
      - name: Compile
        run: mix compile --warnings-as-errors

  check-deps:
    name: Check Dependencies
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up Elixir
        uses: erlef/setup-beam@v1.20
        with:
          version-file: .tool-versions
          version-type: strict
      - name: Install dependencies
        run: mix deps.get
      - name: Check for retired packages
        run: mix hex.audit
      - name: Check for unused dependencies
        run: mix deps.unlock --check-unused

  test:
    name: Test
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres
        env:
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    steps:
      - name: Setup ffmpeg
        uses: AnimMouse/setup-ffmpeg@v1
      - name: Setup shaka-packager
        run: |
          curl -L -o /usr/local/bin/shaka-packager https://github.com/shaka-project/shaka-packager/releases/download/v$SHAKE_PACKAGER_VERSION/packager-linux-x64
          chmod +x /usr/local/bin/shaka-packager
          stat $(which shaka-packager)
          shaka-packager --version
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up Elixir
        uses: erlef/setup-beam@v1.20
        with:
          version-file: .tool-versions
          version-type: strict
      - name: Install dependencies
        run: mix deps.get
      - name: Compile dependencies
        run: mix deps.compile
      - name: Setup database
        run: mix ecto.setup
      - name: Run tests
        run: mix coveralls

  seeds:
    name: Check Seeds
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres
        env:
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up Elixir
        uses: erlef/setup-beam@v1.20
        with:
          version-file: .tool-versions
          version-type: strict
      - name: Install dependencies
        run: mix deps.get
      - name: Compile dependencies
        run: mix deps.compile
      - name: Setup database
        run: mix ecto.setup
      - name: Seed DB
        run: mix ecto.seed

  check-formatted:
    name: Check Formatted
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up Elixir
        uses: erlef/setup-beam@v1.20
        with:
          version-file: .tool-versions
          version-type: strict
      - name: Install dependencies
        run: mix deps.get
      - name: Compile dependencies
        run: mix deps.compile
      - name: Check formatted
        run: mix format --check-formatted

  credo:
    name: Credo
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up Elixir
        uses: erlef/setup-beam@v1.20
        with:
          version-file: .tool-versions
          version-type: strict
      - name: Install dependencies
        run: mix deps.get
      - name: Compile dependencies
        run: mix deps.compile
      - name: Run credo
        run: mix credo --strict

  dialyzer:
    name: Dialyzer
    runs-on: ubuntu-latest

    env:
      MIX_ENV: dev

    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up Elixir
        id: setup_beam
        uses: erlef/setup-beam@v1.20
        with:
          version-file: .tool-versions
          version-type: strict
      - name: Cache PLT files
        id: cache-plt
        uses: actions/cache@v5
        with:
          path: |
            _build/dev/*.plt
            _build/dev/*.plt.hash
          key: plt-cache-${{ runner.os }}-mix-${{ env.MIX_ENV }}-otp-${{ steps.setup_beam.outputs.otp-version }}-elixir-${{ steps.setup_beam.outputs.elixir-version }}-lock-${{ hashFiles('mix.lock') }}
          restore-keys: |
            plt-cache-${{ runner.os }}-mix-${{ env.MIX_ENV }}-otp-${{ steps.setup_beam.outputs.otp-version }}-elixir-${{ steps.setup_beam.outputs.elixir-version }}-
            plt-cache-
      - name: Install dependencies
        run: mix deps.get
      - name: Compile dependencies
        run: mix deps.compile
      - name: Run dialyzer
        run: mix dialyzer
